
.form {
  margin: 3%;
  border: 1px solid #577dfc;
  border-radius: 5px;
  padding: 20px;
  margin: 9% auto;
  max-width: 500px;
}

.btns {
  display: flex;
  justify-content: space-around;
  margin: 5% 0px;
}
