.qr__container{
  margin: 20px auto;
  width: 26%;
}

.home__btn{
  position: fixed;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: -36%;
  margin-top: -5px;
}

.content{
  display:flex;
  justify-content: center;
  width: 80%;
  margin: 30px auto;
}